# dependencies installed by npm
node_modules

# build artifacts
public
.cache/
_generated*

# secrets and errors
.env
.log

# macOS related files
.DS_Store

# Netlify generated stuff
.netlify/
netlify/functions/search/**
!netlify/functions/search/index.js
