---
permalink: '/manifest.webmanifest'
eleventyExcludeFromCollections: true
---
{
  "name": "{{ site.siteName }}",
  "short_name": "{{ site.siteName }}",
  "theme_color": "",
  "background_color": "",
  "display": "standalone",
  "start_url": "/"
}
