---
permalink: /
title: Up to zero! 🪐
---

<p>Get started:</p>
<ul>
  <li>Edit this page: <code>src/pages/index.md</code></li>
  <li>Add or edit navigation: <code>src/data/navigation.json</code></li>
  <li>Change colors and styles: <code>src/assets/styles/</code></li>
</ul>

<hr>

<figure>
  {% image "/assets/images/favicon.svg", "ZeroPoint Favicon" %}
</figure>
