<div class="navigation-item {{ dropdown }}">
  <a
    class="navigation-link {{ active }} {{ dropdownToggle }}"
    href="{{ itemUrl }}"
    {{ currentAttribute | safe }}
    {{ target }}
    {# {{ relAttribute | safe }} #}
    {# {{ dropdownAttributes | safe }} #}
  >
    {{ item.text }}
  </a>

  {# {% if hasSubmenu %}
    <div class="dropdown-menu">
      {% for subitem in item.submenuitems %}
        <a class="dropdown-item{% if subitem.url | lower == page.url | lower %} active{% endif %}" href="{{ subitem.url }}">{{ subitem.text | safe }}</a>
      {% endfor %}
    </div>
  {% endif %} #}
</div>
