---
permalink: /sitemap.xml
eleventyExcludeFromCollections: true
layout: null
templateEngineOverride: njk
---
<?xml version="1.0" encoding="utf-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
{%- for page in collections.all -%}
{%- if page.url != '' and page.data.sitemapIgnore != true -%}
  <url>
    <loc>{{ site.url }}{{ page.url | url }}</loc>
    {%- if page.date -%}<lastmod>{{ page.date.toISOString() }}</lastmod>{%- endif -%}
    {%- if page.data.changefreq -%}<changefreq>{{ page.data.changefreq }}</changefreq>{%- endif -%}
    {%- if page.data.priority -%}<priority>{{ page.data.priority }}</priority>{%- endif -%}
  </url>
{%- endif -%}
{%- endfor -%}
</urlset>
