<!DOCTYPE html>
<html lang="{{ lang or 'en' }}" dir="{{ dir or 'ltr' }}">
  <head>
    {#- Stylesheet -#}
    <link rel="stylesheet" href="{{ '/assets/styles/styles.css' | url }}"/>

    {#- Favicon -#}
    <link rel="icon" type="image/svg+xml" href="/assets/images/favicon.svg">

    {#- Page title, meta tags, and other head elements -#}
    {%- include "partials/meta.njk" -%}
  </head>
  <body>
    {#- Skip to content link -#}
    <a class="visually-hidden" href="#main">Skip to content</a>

    {#- Site header with navigation -#}
    <header>
      {%- include "partials/navigation.njk" -%}
    </header>

    {#- Main content -#}
    <main id="main" tabindex="-1" data-pagefind-body>
      <header id="page-header">
        <h1>
          {#- Page Title -#}
          {{ title | safe }}
        </h1>
      </header>
      {#- Content from the page or post -#}
      {{ content | safe }}
    </main>

    {#- Site footer with copyright -#}
    <footer id="footer">
      {%- year -%} &copy; {{ site.name }}
    </footer>

    {#- Script bundle -#}
    <script src="{{ '/assets/scripts/main.js' | url }}"></script>
  </body>
</html>
