<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {# Page Title #}
    <title>{{ title | safe }}</title>

    {# Stylesheet #}
    <link rel="stylesheet" href="{{ '/assets/styles/styles.css' | url }}"/>

    {# Favicon #}
    <link rel="icon" type="image/svg+xml" href="/assets/images/favicon.svg">

    {# metagen plugin output #}
    {% metagen
      title = title or metadata.title,
      url = env.siteUrl + page.url
     %}

    {# If ELEVENTY_ENV environmental variable isn't set to "production", hide this page from search engines #}
    {% if ( index == false) %}
      <meta name="robots" content="noindex,nofollow">
    {% endif %}

  </head>
  <body>
    {# Skip to content link #}
    <a class="visually-hidden" href="#main">Skip to content</a>

    {# Site header with navigation #}
    <header>
      {% include "partials/navigation.njk" %}
    </header>

    {# Main content #}
    <main id="main" tabindex="-1">
      <header id="page-header">
        <h1>
          {{ title | safe }}
        </h1>
      </header>
      {{ content | safe }}
    </main>

    {# Site footer with copyright #}
    <footer id="footer">
      {% year %} &copy; {{ site.siteName }}
    </footer>

    {# Script bundle #}
    <script src="{{ '/assets/scripts/main.js' | url }}"></script>
  </body>
</html>
