---
permalink: '/manifest.webmanifest'
eleventyExcludeFromCollections: true
---
{
  "name": "{{ branding.name }}",
  "short_name": "{{ branding.shortName }}",
  "theme_color": "{{ branding.themeColor }}",
  "background_color": "{{ branding.backgroundColor }}",
  "display": "standalone",
  "start_url": "/",
}
