:root {
  /**
    Colors
  */
  --color-text: #222;
  --color-background: white;
  --color-light: silver;
  --color-primary: #7950f2;

  @media (prefers-color-scheme: dark) {
    --color-text: #fff;
    --color-background: #222;
  }

  /**
    Spacing and units
  */
  --unit: 1rem;
  --container-width: 60ch;

  /**
    Fonts
  */
  --font-family-sans-serif:
    system,
    -apple-system;
}
